@model IEnumerable<BookDTO>
@{
    ViewData["Title"] = "BookIndex";
}
<h1>Books</h1>
<p>
    <a asp-action="BookCreate" class="btn btn-outline-primary">Create New</a> 
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach(var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @item.IsAvailable
                    @Html.CheckBoxFor(modelItem => item.IsAvailable, new { @disabled = "disabled" })</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Created)
                    <a asp-action="Details" class="btn btn-outline-success" asp-route-id="@item.Id">Details <i class="fa fa-edit"></i> </a>
                    <a asp-action="UpdateCoupon" class="btn btn-warning" asp-route-couponId="@item.Title">Edit<i class="fade fa-edit"></i></a>
                    <a asp-action="DeleteCoupon" class="btn btn-danger" asp-route-couponId="@item.Title">Delete <i class="fa-solid fa-trash-can"></i> </a>
                </td>
            </tr>
        }
    </tbody>
</table>
