@model IEnumerable<BookDTO>
@{
    ViewData["Title"] = "BookIndex";
}
<h1>Books</h1>
<p>
    <a asp-action="BookCreate" class="btn btn-warning custom-button">Create New <i class="fa-solid fa-square-plus"></i></a>

    
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Title)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Author)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Genre)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.IsAvailable)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Created)
            </th>
            <th>
                Edit
            </th>
            
        </tr>
    </thead>
  

    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Title)</td>
                <td>@Html.DisplayFor(modelItem => item.Author)</td>
                <td>@Html.DisplayFor(modelItem => item.Genre)</td>
                <td>@Html.DisplayFor(modelItem => item.Description)</td>
                <td>
                    @if (item.IsAvailable)
                    {
                        <span class="badge bg-success">Available</span>
                    }
                    else
                    {
                        <span class="badge bg-danger">Not Available</span>
                    }
                </td>
                <td>@Html.DisplayFor(modelItem => item.Created)</td>
                <td>
                    @* <a asp-action="Details" class="btn btn-outline-success" asp-route-id="@item.Id">
                        Details <i class="fa fa-eye"></i>
                    </a> *@
                    <a asp-action="BookUpdate" asp-route-id="@item.Id" class="btn btn-warning custom-btn">
                        Update <i class="fa fa-edit"></i>
                    </a>
                    <a asp-action="BookDelete" class="btn btn-danger custom-btn" asp-route-bookId="@item.Id">
                        Delete <i class="fa-solid fa-trash-can"></i>
                    </a>
                    
                </td>
            </tr>
        }
    </tbody>

</table>

